#!/usr/bin/make -f
#
# Copyright 2024-2026 akam1o
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

%:
	dh $@

override_dh_auto_build:
	# No build needed

override_dh_auto_install:
	# Install configuration file
	install -D -m 644 hugepages-reserve-service/etc/hugepages.conf debian/hugepages-reserve-service/etc/hugepages.conf
	
	# Install systemd service file
	install -D -m 644 hugepages-reserve-service/etc/systemd/system/hugepages-reserve.service \
		debian/hugepages-reserve-service/lib/systemd/system/hugepages-reserve.service
	
	# Install script
	install -D -m 755 hugepages-reserve-service/usr/lib/systemd/hugepages-reserve.sh \
		debian/hugepages-reserve-service/usr/lib/systemd/hugepages-reserve.sh

override_dh_installsystemd:
	dh_installsystemd --name=hugepages-reserve
